<h1>Change Password</h1>

<form method="POST">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>